<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des salles</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styleSalle.css" />
    <%- include('../views/partials/css.ejs') %>
  </head>
  <%- include('../views/partials/header.ejs') %>
  
  <body>
    <div class="main-content">
      <div class="container mt-7">
        <!-- Table -->
        <h1 class="mb-5">Liste des salles</h1>
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Salle</th>
                      <th scope="col">Prix</th>
                      <th scope="col">Capacité</th>
                      <th scope="col">Disponibilite</th>
                      <th scope="col">Reserver</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% salles.forEach(function(salle) { %>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm"><%= salle.name %></span>
                          </div>
                        </div>
                      </th>
                      <td><%= salle.price %> DT</td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> <%= salle.capacity %>
                        </span>
                      </td>
                      <td>
                        <% if (salle.availability) { %> Disponible <% } else {
                        %> Indisponible <% } %>
                      </td>

                      <td>
                        <a href="/infosalle/<%= salle._id %>"
                          ><button class="info-btn">Reserver</button></a
                        >
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
