<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de la salle</title>
    <link rel="stylesheet" href="/css/styleSalleDetail.css" />
    <%- include('../views/partials/css.ejs') %>
  </head>
  <body>
    <%- include('../views/partials/header.ejs') %>
    <h1>Détails de la salle</h1>
    <ul class="salleInfo">
      <li>Nom de la salle : <span><%= salle.name %></span></li>
      <li>Capacité : <span><%= salle.capacity %></span></li>
      <li>Prix : <span><%= salle.price %></span></li>
      <li>Equipements :</li>
      <ul class="display-list">
        <% salle.items.forEach(item => { %>
        <li><span><%= item %></span></li>
        <% }); %>
      </ul>
      <li>Date(s) Réservée(s) :</li>
      <ul class="display-list">
        <% resDateAndTime.forEach(date => { %>
        <li><span><%= date %></span></li>
        <% }); %>
      </li>
    </ul>
    <form
      id="reservationForm"
      method="post"
      action="/addreservation/<%= salle._id %>"
    >
      <input
        type="date"
        name="dateReservation"
        id="dateReservation"
        autofocus
      />
      <input type="submit" value="Réserver" />
    </form>

    <script>
      // code JavaScript pour valider la date avant la soumission
      document
        .getElementById("reservationForm")
        .addEventListener("submit", function (event) {
          var selectedDate = document.getElementById("dateReservation").value;
          var currentDate = new Date().toISOString().split("T")[0]; // Récupère la date actuelle au format YYYY-MM-DD
          if (selectedDate < currentDate) {
            event.preventDefault(); // Empêche la soumission du formulaire si la date est antérieure à aujourd'hui
            alert(
              "La date sélectionnée est invalide. Veuillez choisir une date ultérieure."
            );
          }
        });
    </script>
  </body>
</html>
