<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des salles</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styleSalle.css" />
    <%- include('../views/partials/css.ejs') %>
  </head>

  <body>
    <div class="main-content">
      <div class="container mt-7">
        <!-- Table -->
        <h1 class="mb-5">Liste des salles</h1>
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Salle</th>
                      <th scope="col">Date</th>
                      <th scope="col">Modifier Date</th>
                      <th scope="col">Annuler Reservation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% res.forEach(reservation =>{ %>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm"
                              ><%= reservation.salle.name %></span
                            >
                          </div>
                        </div>
                      </th>
                      <td><%= reservation.dateReservation %></td>

                      <td>
                        <a href="/infosalle/<%= reservation.salle._id %>"
                          ><button class="info-btn">Modifier Date</button></a
                        >
                      </td>

                      <td>
                        <form action="/cancelreservation" method="post">
                          <!-- Hidden input field containing reservation ID -->
                          <input type="hidden" name="reservationId" value="<%= reservation._id %>">
                          <!-- Submit button -->
                          <button type="submit" class="warning-btn">Annuler</button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
